<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.1</span>Boolean minimization
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/04_karnaugh.pptx">Karnaugh map</a></li>
                </li>
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.2</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW02/DLD-HW2.pdf"
                class="exercise">Exercise2
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW02/solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.3</span>Timing and delay
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/05_delay-C.pptx">Delay</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.4</span>Basic combinational components
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/06_decoder.pptx">Decoder</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/07_mux.pptx">Multiplexer</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>




<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.5</span>Arithmetic computation
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/09_arithmetic1.pptx">Arithmetic 1</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/12_arithmetic2.pptx">Arithmetic 2</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>






<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.6</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW03/DLD-HW3.pdf"
                class="exercise">Exercise3
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW03/HW3_Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>