<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.1</span>Introduction
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/01_intro.pptx">Intro</a></li>
                </li>
                
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>


<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.2</span>Number Systems
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/02_binary.pptx">Numeral systems</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/02_boolean algebra.pptx">Boolean Algebra</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>


<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW01/DLD-HW1.pdf"
                class="exercise">Exercise1
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW01/solution/DLD_HW1_Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>




<!--//module-sub-item-->
<!-- <div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.2</span>Regex in Java available in these sources:
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://www.tutorialspoint.com/java/java_regular_expressions.htm">Tutorialspoint</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/regular-expressions-in-java/">GeeksForGeeks</a></li>
                <li><a href="https://www.javatpoint.com/java-regex">JavaTpoint</a>
                </li>
                <li><a href="https://regexr.com/">Regexer</a></li>
            </ul>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div> -->
<!--//module-sub-item-->
<!-- <div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span><a
                href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW1/HW1.pdf"
                class="exercise">Exercise1
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div> -->
<!--//module-sub-item-->
<!-- <div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.4</span><a
                href="https://quera.ir/course/assignments/14356/problems" class="judge">Quera Judge</a>
        </div>
        <div class="col-3 text-right extra-info">Judge</div>
    </div>
</div> -->
<!--//module-sub-item-->
<!-- <div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.5</span>Accepted
            answers for
            exercise1,<a class="zip-code"
                href="https://drive.google.com/file/d/1V56V40oxhNkIqgqNyJRdZk-CraXHlLTJ/view?usp=sharing"> .zip</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div> -->
<!--//module-sub-item-->