
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span>Verilog HDL
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/03_verilog.pptx">Introduction to HDLs</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/10_verilog-C.pptx">Combinational Components</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/13_verilog-C.pptx">Design Models</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/16_verilog-C.pptx">Sequential Design</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>




<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2"><B class="extra-class">RECOMMENDED</B></span>

            <div class="module-sub-item p-3">
                <div class="row justify-content-between">
                    <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span>Verilog HDL
                        <ul style="list-style-type: circle;" class="list pl-5">
                            <br>
                            <li>
                                <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/03_verilog.pptx">Introduction to HDLs</a>
                            <li>
                                <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/10_verilog-C.pptx">Combinational Components</a>
                            <li>
                                <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/13_verilog-C.pptx">Design Models</a>
                            <li>
                                <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/16_verilog-C.pptx">Sequential Design</a>
                            </li>  
                        </ul>
                    </div>
                    <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>




<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2"><b class="extra-class">EXTRA</b></span> Implement
            <a href="https://github.com/AUT-LCLab/Fall-2023/tree/main/Lab%204"
                class="reference-link">Parity Generator</a> core in Lab Assignment4 for more practice.
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Code
        </div>
    </div>
</div>
