<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.1</span>Latch and flipflops
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/14_FF.pptx">Flipflops</a></li>
                </li>
                
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.2</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW04/DLD_HW04.pdf"
                class="exercise">Exercise4
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW04/DLD_HW4_Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>


<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.3</span>Sequential circuits analysis
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/15_analysis.pptx">Analysis</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.4</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW05/DLD-HW5.pdf"
                class="exercise">Exercise5
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW05/DLD-HW5-Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.5</span>Sequential circuits design
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/17_seq design1.pptx">Design Part1</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/19_seq design2.pptx">Design Part2</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.6</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW06/DLD_HW06.pdf"
                class="exercise">Exercise6
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW06/DLD_HW06_Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.7</span>Hazard
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/21_hazard-C.pptx">Hazard</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.8</span>Sequential components
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/20_registers_counters.pptx">Registers counters</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/22_PAL-C.pptx">PAL</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/23_ROM-C.pptx">ROM</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>




<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.9</span>Introduction to digital electronic
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/25_wired logic.pptx">Digital</a>
                <li>
                    <a href="https://github.com/CE201-AUT/Documents/blob/main/Lectures/24_FPGA.pptx">FPGA</a>
                </li>  
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Slides
        </div>
    </div>
</div>



<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.10</span><a
                href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW07/DLD-HW07.pdf"
                class="exercise">Exercise7
            </a>
            <a href="https://github.com/CE201-AUT/Documents/blob/main/Assignments/HW07/DLD_HW07_Solution.pdf"
            class="reference-link"> [Solution]</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>